<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div id="app">
    <app-header></app-header>
    <div id="appBody">
      <router-view></router-view>
    </div>
  </div>
  <template id="fuelRefill" style="display:none">
    <div>
      <label for="totalAmount">Total amount</label>
      <input id="totalAmount" type="number" v-model="totalAmount">
      <br>

      <label for="kmReading">Odometer reading</label>
      <input type="number" id="kmReading" v-model="odometerReading">
      <br>

      <input type="file" ref="billReceipt">

      <button @click="saveReading">Save Reading</button>
    </div>
  </template>

  <!-- money control messages display-->
  <template id="MCMessages" style="display:none">
    <div>
      <div>
        <ul class="list-group">
          <li class="list-group-item" v-for="msg in messages" style="list-style:none">
            <div>By: <span v-text="msg.nick_name"></span> &nbsp; <span>time: {{msg.ent_date}}</span> &nbsp; <span>topicid:
                {{msg.topicid}}</span></div>
            <div v-text="msg.full_message"></div>
          </li>
        </ul>
      </div>
      <div>
        <button @click="getMoreMessages">
          more
        </button>
      </div>
    </div>
  </template>

  <template id="chart" style="display: none">
    <div id="chartcontainer"></div>
  </template>



  <!-- holdings-->
  <template id="holdings" style="display:none">
    <div>
      <div>
        <table class="table table-dark table-striped table-bordered table-sm table-responsive">
          <thead>
            <th scope="col">Symbol</th>
            <th scope="col">Quantity</th>
            <th scope="col">CMP</th>
          </thead>
          <tbody>
            <tr v-for="holding in holdings">
              <td v-text="holding.symbol"></td>
              <td v-text="holding.allocated_quantity"></td>
              <td v-text="holding.current_market_price"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <template id="appHeader" style="display:none">
    <div id="appHeader">
      <ul class="nav">
        <li class="nav-item" v-for="link in links">
          <router-link :to="link.link" class="nav-link" v-text="link.name"></router-link>
        </li>
        <!-- <li class="nav-item">
          <router-link to="/fuelRefill" class="nav-link">Fuel Refill</router-link>
        </li> -->
      </ul>
    </div>

  </template>
  <template id="dashboard" style="display:none">
    <div>
      <!-- <input type="file" id="fileUpload" class="form-control">
       <button class="btn btn-primary" @click="uploadFile()">Upload</button> -->
      <form class="form-inline" onsubmit="return false">
        <input type="text" class="form-control" placeholder="enter a task" v-model="newItem">
        <button @click="addItem(newItem)" class="btn btn-primary">Add to list</button>
      </form>

      <ul class="list-group">
        <li class="list-group-item" v-for="item in items">{{item}}</li>
      </ul>
    </div>
  </template>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="./dashboard.js"></script>
<script type="module" src="./MoneyControlComponent.js"></script>
<script type="module" src="./MoneyControlComponent_alt.js"></script>
<script type="text/javascript" src=" https://unpkg.com/vue-fusioncharts/dist/vue-fusioncharts.min.js"></script>
<!-- Including the fusioncharts core library -->
<script type="text/javascript" src=" http://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script type="text/javascript" src=" http://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.charts.js"></script>
<script charset="utf-8" src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.timeseries.js"></script>
<!-- Including the fusion theme -->
<script type="text/javascript" src=" http://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</html>